<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="{{ "/assets/css/layouts/side-menu.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/layouts/footer.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/layouts/twemoji.css" | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/syntax.css" | absolute_url }}">
{% if page.layout == "top" %}
  <link rel="stylesheet" href="{{ "/assets/css/layouts/blog.css" | absolute_url }}">
{% endif %}

{% if page.layout == "post" %}
  <link rel="stylesheet" href="{{ "/assets/css/layouts/blog.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/layouts/post.css" | absolute_url }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
{% endif %}

{% if page.layout == "about" %}
  <link rel="stylesheet" href="{{ "/assets/css/layouts/about.css" | absolute_url }}">
{% endif %}

