---
layout: default
---
<div class="header">
  {% if page.private == true %}
    <i class="fas fa-key fa-5x" style="color: #fecb81"></i>
  {% endif %}
  <h1>{{ page.title }}</h1>
</div>
<div class="content">
  <link rel="stylesheet" href="/assets/css/layouts/blog.css">
  <link rel="stylesheet" href="/assets/css/layouts/post.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <div class="posts">
  <section class="post">
  <header class="post-header">
  <div class="post-author">
    <img class="post-avatar" src="/assets/favicon.jpg" alt="author-avatar">
    <a href="/about.html">{{site.author.name}}</a>
  </div>
  <div class="post-tag">
    {% for tag in page.tags %}
    <a class="post-category post-category-pure" href="/?tag={{tag | url_encode}}">{{tag}}</a>
  {% endfor %}
  </div>
  <p class="post-meta-right">{{page.date|date_to_long_string}}</p>
  </header>
  <div class="post-agenda">
      <hr>
      <ul id="agenda-body">
      </ul>
      <hr>
  </div>
  
  <div class="post-description" id="content">
  {{ content }}
  </div>
  <script src="/assets/js/content-add-css-class.js"></script>
  <script src="/assets/js/create-agenda.js"></script>
  <script src="/assets/js/ui.js"></script>
  </section>
  </div>
</div>
